Import necessary libraries and Load the Dataset.

In [73]:
import pandas as pd 
users = pd.read_csv("Netflix Userbase.csv")
users

,User ID,Subscription Type,Monthly Revenue,Join Date,Last Payment Date,Country,Age,Gender,Device,Plan Duration
0,1,Basic,10,15-01-22,10-06-23,United States,28,Male,Smartphone,1 Month
1,2,Premium,15,05-09-21,22-06-23,Canada,35,Female,Tablet,1 Month
2,3,Standard,12,28-02-23,27-06-23,United Kingdom,42,Male,Smart TV,1 Month
3,4,Standard,12,10-07-22,26-06-23,Australia,51,Female,Laptop,1 Month
4,5,Basic,10,01-05-23,28-06-23,Germany,33,Male,Smartphone,1 Month
...,...,...,...,...,...,...,...,...,...,...
2495,2496,Premium,14,25-07-22,12-07-23,Spain,28,Female,Smart TV,1 Month
2496,2497,Basic,15,04-08-22,14-07-23,Spain,33,Female,Smart TV,1 Month
2497,2498,Standard,12,09-08-22,15-07-23,United States,38,Male,Laptop,1 Month
2498,2499,Standard,13,12-08-22,12-07-23,Canada,48,Female,Tablet,1 Month
2499,2500,Basic,15,13-08-22,12-07-23,United States,35,Female,Smart TV,1 Month

#Set index to User ID

In [74]:
users.set_index("User ID" ,inplace=True)

Data Exploration.

#First 5 rows of the dataset

In [75]:
users.head()

,Subscription Type,Monthly Revenue,Join Date,Last Payment Date,Country,Age,Gender,Device,Plan Duration
User ID,,,,,,,,,
1,Basic,10,15-01-22,10-06-23,United States,28,Male,Smartphone,1 Month
2,Premium,15,05-09-21,22-06-23,Canada,35,Female,Tablet,1 Month
3,Standard,12,28-02-23,27-06-23,United Kingdom,42,Male,Smart TV,1 Month
4,Standard,12,10-07-22,26-06-23,Australia,51,Female,Laptop,1 Month
5,Basic,10,01-05-23,28-06-23,Germany,33,Male,Smartphone,1 Month

#Summary Statistics

In [76]:
users.describe()

       Monthly Revenue          Age
count      2500.000000  2500.000000
mean         12.508400    38.795600
std           1.686851     7.171778
min          10.000000    26.000000
25%          11.000000    32.000000
50%          12.000000    39.000000
75%          14.000000    45.000000
max          15.000000    51.000000

#Checking for missing values in the dataset

In [77]:
users.isnull().sum()

Subscription Type    0
Monthly Revenue      0
Join Date            0
Last Payment Date    0
Country              0
Age                  0
Gender               0
Device               0
Plan Duration        0
dtype: int64

#Information about the dataset

In [78]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2500 entries, 1 to 2500
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Subscription Type  2500 non-null   object
 1   Monthly Revenue    2500 non-null   int64
 2   Join Date          2500 non-null   object
 3   Last Payment Date  2500 non-null   object
 4   Country            2500 non-null   object
 5   Age                2500 non-null   int64
 6   Gender             2500 non-null   object
 7   Device             2500 non-null   object
 8   Plan Duration      2500 non-null   object
dtypes: int64(2), object(7)
memory usage: 195.3+ KB

#Dataset columns names

In [79]:
users.columns

Index(['Subscription Type', 'Monthly Revenue', 'Join Date',
       'Last Payment Date', 'Country', 'Age', 'Gender', 'Device',
       'Plan Duration'],
      dtype='object')

Data Cleaning.

#Drop the missing values.

In [80]:
users = users.dropna()

#Drop the duplicates values.

In [81]:
users = users.drop_duplicates()

Data Transformation.

#Transform Date to datetype

In [82]:
users["Join Date"] = pd.to_datetime(users["Join Date"])
users["Last Payment Date"] = pd.to_datetime(users["Last Payment Date"])

C:\Users\Muzafar Ali\AppData\Local\Temp\ipykernel_4928\2281211809.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  users["Join Date"] = pd.to_datetime(users["Join Date"])
C:\Users\Muzafar Ali\AppData\Local\Temp\ipykernel_4928\2281211809.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  users["Last Payment Date"] = pd.to_datetime(users["Last Payment Date"])

Analysis.

Q#1.Which Netflix subscription (Basic, Standard, or Premium) is most popular?

In [83]:
most_popular_subscription = users["Subscription Type"].mode()[0]
most_popular_subscription

'Basic'

Q#2.How much monthly revenue does each type of subscription generate?

In [84]:
subscription_type_monthly_revenue = users.groupby("Subscription Type")["Monthly Revenue"].sum()
subscription_type_monthly_revenue

Subscription Type
Basic       12469
Premium      9229
Standard     9573
Name: Monthly Revenue, dtype: int64

Q#3.Are there any gender differences in preferred subscription levels?

In [85]:
subscription_by_gender = users.pivot_table(index="Subscription Type", columns="Gender" ,values="Monthly Revenue", aggfunc="count")
subscription_by_gender

Gender             Female  Male
Subscription Type
Basic                 512   487
Premium               364   369
Standard              381   387

Q#4.How do the most popular subscriptions vary across top 5 countries?

In [86]:
popular_subscriptions = users.groupby("Country")["Subscription Type"].value_counts().nlargest(5)
popular_subscriptions

Country         Subscription Type
Spain           Premium              212
United States   Basic                199
United Kingdom  Standard             180
Mexico          Standard             179
Italy           Basic                176
Name: count, dtype: int64

Q#5.What is the total monthly revenue generated by Netflix?

In [87]:
monthly_revenue = users["Monthly Revenue"].sum()
monthly_revenue

31271

Q#6.On average, how much revenue does each Netflix user generate per month?

In [88]:
average_monthly_revenue = users["Monthly Revenue"].mean()
average_monthly_revenue

12.5084

Q#7.How the monthly revenue trend changed over time?

In [89]:
users["Month"] = users["Join Date"].dt.month_name()
custom_month_order = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
users["Month"] = pd.Categorical(users["Month"], categories=custom_month_order, ordered=True)
monthly_revenue_trend = users.groupby("Month")["Monthly Revenue"].sum()
monthly_revenue_trend

C:\Users\Muzafar Ali\AppData\Local\Temp\ipykernel_4928\971589936.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  monthly_revenue_trend = users.groupby("Month")["Monthly Revenue"].sum()

Month
January      1085
February     1134
March        1310
April        1353
May          1692
June         4208
July         4985
August       3688
September    3819
October      5246
November     1504
December     1247
Name: Monthly Revenue, dtype: int64

Q#8.Do users on different subscription plans generate different levels of revenue?

In [90]:
revenue_by_type = users.groupby("Subscription Type")["Monthly Revenue"].mean()
revenue_by_type

Subscription Type
Basic       12.481481
Premium     12.590723
Standard    12.464844
Name: Monthly Revenue, dtype: float64

Q#9.Which device used to access Netflix generate the most revenue?

In [91]:
most_revenue_device = users.groupby("Device")["Monthly Revenue"].sum().idxmax()
most_revenue_device

'Laptop'

Q#10.How many new users join Netflix each month?

In [92]:
custom_month_order = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
users["Month"] = pd.Categorical(users["Month"], categories=custom_month_order, ordered=True)
new_users_per_month = users.groupby("Month").size()
new_users_per_month

C:\Users\Muzafar Ali\AppData\Local\Temp\ipykernel_4928\4087614707.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  new_users_per_month = users.groupby("Month").size()

Month
January       88
February      92
March        103
April        108
May          135
June         338
July         396
August       296
September    306
October      418
November     122
December      98
dtype: int64

Q#11.On average, how long does it take for a user to make their last payment after 
joining?

In [93]:
users["last payment after joining"] = users["Last Payment Date"] - users["Join Date"]
average_time_last_payment = users["last payment after joining"].mean()
average_time_last_payment

Timedelta('326 days 02:26:52.800000')